body{
	background-color:#dfe6e9;
}
.drop{
	position:relative;
	background-color:#2d3436;
	color:#2ecc71;
	margin:125px;
	margin-top:50px;
	width:80%;
	height:800px;
}



.cena{
	border:1px solid white;
	border-radius:25px;
	width:450px;
	margin-left:500px;
	display:inline-block;
	color:white;
	margin-top:-150px;}
a{color:white;
margin-left:10px;
}
.atif{
	width:90%;
	border:1px solid white;
	border-radius:25px;
	text-align: center;
	margin-top:20px;
	margin-left: 10px;
}
h1{font-size:40px;
margin:20px;}
p{font-size:20px;
margin:20px;}
 #active{
	color:white;
}
 a:hover:not(.active){
	color:white;
	
}
.lesnar{
	        height:150px;
	        font-size: 25px;
            width:200px;
            width:150px;
            margin-left: 10px;
}
.brock {width:150px;
	display:inline-block;
	
}
button{border:none;
	border-radius: 25px;
font-size:25px;
margin-left: 10px;
width:150px;
background-color:#2d3436;
color:#2ecc71;
box-shadow:5px 10px 25px #2ecc71;}

.brock a{
	color:#2ecc71;
	width:150px;
	display:inline-block;
	font-size: 20px;
	text-decoration: none;
	display: none;
	text-align:center;
	animation:what 2s backwards;
}
.lesnar:hover .brock a{
	display:block;}
@keyframes what {
  0% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
  }
  40% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  }
  60% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  opacity: 1;
  }
  80% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  }
 }
   .brock a:nth-child(1){animation-delay:0s;}
   .brock a:nth-child(2){animation-delay:0.5s;}
   .brock a:nth-child(3){animation-delay:1s;}
   .brock a:nth-child(4){animation-delay:1.5s;}
   .brock a:nth-child(5){animation-delay:2s;}